@use '../custom' as *;

.menu {
    
    li {
        padding: 0 1rem;

        a {
            color: $primary !important;
            font-size: 1.6rem;
            font-weight: 600;

            &:hover,
            &:active {
                color: $secondary !important;
            }
        }

    }

    //NAVBAR DROPDOWN
    .dropdown-menu.show {
        background-color: $dark !important;
        padding: 0;
        border: none;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: transparent !important;
    }
}

@media (max-width: 991.98px) {
    .navbar-brand img {
        width: 80%;
    }
}




