@use '../custom' as *;

.portfolio-section {
    background-color: $dark;
    padding: 5rem 0;
    width: 100%;

    .gallery-section {
        width: 100%;
        padding-top: 5rem;

        .galley-grid-wrapper {
            height: 800px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 2fr 2fr;
            grid-gap: 60px 30px;

            .project {
                position: relative;
                background: $primary;
                overflow: hidden;
                border-radius: 0.375rem;

                img {
                    position: absolute;
                    opacity: 0.9;

                }

                p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    padding: 1em 0;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    z-index: 3;
                }

                .project-title {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;
                    bottom: 0;
                    font-weight: 100;
                    font-size: 0.8em;
                    z-index: 3;
                    text-transform: uppercase;
                    color: $dark;
                    letter-spacing: 2px;
                }
            }

            // project hover overlay
            .project:hover .project-overlay {
                transform: translateY(0%);
            }

            .project-overlay {
                background: rgba(darken($primary, 10%), .9);
                height: 100%;
                grid-column: 1 / -1;
                grid-row: 1 / -1;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: center;
                transform: translateY(101%);
                transition: $ease;
            }

            //project popup overlay

            .overlay {
                position: fixed;
                overflow-y: scroll;
                background: rgba($dark, 0.7);
                top: 8rem;
                right: 0;
                bottom: 0;
                left: 0;
                display: none;
                z-index: 99;
            }

            .overlay.open {
                display: grid;
                align-items: center;
                justify-items: center;
            }

            .overlay-inner {
                background: $white;
                width: auto;
                padding: 30px;
                position: relative;
                opacity: 1;
            }

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                outline: 0;
                color: $primary;
                font-size: 2rem;
                border: 0;

                &:hover {
                    color: $secondary;
                }
            }

            .chevron {
                position: sticky;
                bottom: 0;
                right: 50%;
                background: none;
                outline: 0;
                color: $primary;
                font-size: 2rem;
                border: 0;
            }

            .project-image {
                margin-left: -50%;
            }
        }
    }

}