@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio-section {
    background-color: $dark;
    padding: 5rem 0;
    width: 100%;

    .gallery-section {
        width: 100%;
        padding-top: 3rem;

        .galley-grid-wrapper {
            height: 100vh;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 2fr 2fr;
            grid-gap: 60px 30px;

            .project {
                position: relative;
                background: $primary;
                overflow: hidden;
                border-radius: 0.375rem;

                img {
                    position: absolute;
                    opacity: 0.9;

                }

                p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    padding: 1rem 0;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    z-index: 3;
                }

                .project-title {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;
                    bottom: 0;
                    font-weight: 800;
                    font-size: 1.1rem;
                    z-index: 3;
                    text-transform: uppercase;
                    color: $details;
                    letter-spacing: 2px;
                }
            }

            // project hover overlay
            .project:hover .project-overlay {
                transform: translateY(0%);
            }

            .project-overlay {
                @include overlayGradient;
                height: 100%;
                grid-column: 1 / -1;
                grid-row: 1 / -1;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: center;
                transform: translateY(101%);
                transition: $ease;
            }

            //project popup overlay

            .overlay {
                position: fixed;
                overflow-y: scroll;
                background: rgba($dark, 0.7);
                top: 8rem;
                right: 0;
                bottom: 0;
                left: 0;
                display: none;
                z-index: 99;
            }

            .overlay.open {
                display: grid;
                align-items: center;
                justify-items: center;
            }

            .overlay-inner {
                background: $dark;
                width: auto;
                padding: 50px;
                position: relative;
                opacity: 1;

                .close {
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    background: none;
                    outline: 0;
                    color: $primary;
                    font-size: 2rem;
                    border: 0;

                    &:hover {
                        color: $secondary;
                    }
                }
            }


            .project-image {
                margin-left: -50%;
            }
        }
    }

}