@use '../custom' as *;

.skills-section {
    background: $dark;
    color: $white;

    h2 {
        color: $primary;
    }

    h3 {
        color: $secondary;
        margin-bottom: 1.3rem;
    }

    i {
        margin: 1.5rem 0;
        padding-bottom: 0.5rem;
        color: $primary;
        font-size: 3rem;
    }

    .first-s-skill {
        margin-bottom: 5rem;
    }

    .skills-intro {
        width: 50%;
        padding-right: 2rem;
    }

    .skills-info {
        width: 25%;

        .adobe-col > p {
            margin-left: 1.2rem;
        }

        .adobe-i {
            width: 2.8rem;
            padding-bottom: 0.5rem;
            margin-left: 1rem;
        }
    }
}