@use '../custom' as *;

.randomFacts-section {
    background: $dark;
    color: $white;
    padding: 2rem 0 3rem 0;
    h2 {
        color: $primary;
        padding-bottom: 2rem;
    }
    .description,
    .aside-right {
        width: 47%;
    }
    .carousel-caption {
        padding: 0;
        background-color: $transparent;
        h5 {
            padding-top: 0.4rem;
        }
        h5,
        p {
            margin: 0;
            font-size: small;
        }
    }
}
//MEDIA QUERIES
@media (max-width: 991.98px) {
    .randomFacts-section {
        padding-top: 2rem;
    }
    .random-col {
        display: flex;
        flex-direction: column !important;
        .description {
            width: 100%;
            order: 1;
        }
        .aside-right {
            margin: 3rem auto 0 auto;
            width: 100%;
            order: 2;
        }
    }
}