@use '../custom' as *;

button {
    cursor: pointer;
}

//BUTTON FOR CARDS LINK
.card-button {
    background-color: none;
    border-radius: 28px;
    border: 1px solid $primary;
    display: inline-block;
    color: $primary;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        transition: $ease;
        background-color: $secondary;
    }
}

//GALLERY VIEW BUTTON
.view-button {
    background: none;
    outline: none;
    font-weight: 400;
    letter-spacing: 2px;
    border: 1px solid $secondary;
    border-radius: 28px;
    color: $secondary;
    text-transform: uppercase;
    padding: 10px;

    &:hover {
        transition: $ease;
        background: $secondary;
        color: $primary;
        transform: scale(1.05);
    }
}