@use '../custom' as *;

// CARDS INTRO-SECTION
.cards-intro-section {
    background-color: $dark;
    padding: 5rem 0 0 0;
    width: 100%;
    height: 100%;
}

.intro-cards {
    background-color: $white;
    width: 18rem;

    .icon {
        color: $primary;
        font-size: 3.2rem;

    }
}